* {
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px;
}

body {
  margin: 0;
  background: #f3f3f3; /*#53c1de*/
  color: #1d2129;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 25px auto 10px;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #385898;
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer !important;
}

input[type="submit"]:disabled,
button:disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}

.right {
  float: right;
}

.textRight {
  text-align: right;
}

.rounded {
  border-radius: 3px;
}

span {
  line-height: normal;
  vertical-align: middle;
  padding: 0;
}

.red {
  color: red;
  padding: 0;
  margin: 0;
}

.container {
  border-bottom: 1px solid #5250507e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
}

.container > div {
  width: 100%;
}
